<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.jrinfected.brightness.b"
   android:versionCode="1"
   android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui"
        android:category="android.customization.brightness"
        android:priority="1"/>

    <application android:label="Brightness Type B" android:hasCode="false"/>
</manifest>
