<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.jrinfected.qs.shape.j"
   android:versionCode="1"
   android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui"
        android:category="android.customization.qs.shape"
        android:priority="1"/>

    <application android:label="Qs Shape J" android:hasCode="false"/>
</manifest>
